h1, h2 {
	text-align: center;
}

.form-group {
	margin-left: 10px;
	padding-top: 1em;
	max-width: 300px;
}

.input1, .input2, .input3, .input4, .input5, .input6, .input7, .input8, .input9, .input10 {
	font-style: italic;
}